<h1><%= @movie.title %></h1>
<p><%= @movie.text %></p>
<h4><%= @movie.rating %></h4>
<h5><%= @movie.category %></h5>

<%= link_to "Take me Home", root_path %>
<%= link_to "EDIT", edit_movie_path %>
<%= link_to "DELETE", movie_path(@movie), method: :delete %>